<!DOCTYPE html>
<html>
  <head>
    <title>子供の人数</title>
  </head>
  <body class ="put_center">
    <div class="headder">
      <h1>子供の人数は一人として進みます</h1>
    </div>
    <div class = "main">
      <div class ="contents">
        <div>
          <a  class = "to_input_cash_data" href="/educational_expenses" style="text-decoration:none">次へ</a>
        </div>
      </div>
    </div>
  </body>
</html>
