<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body class ="background_image">
    <div class="select_contents">
      <h1>ライフプランをより明確に</h1>
      <p>人生の設計は緻密にできてもお金のことは疎かになりがち</p>
      <p>キャッシュフローを作成して具体的な夢を描きましょう</p>
      <a  class = "to_input_cash_data" href="/input_cash_data" style="text-decoration:none">キャッシュフロー表作成はこちら</a>
    </div>
  </body>
</html>
